{% extends('@Gescom/base.html.twig') %}

{% block body %}
    <div class="row margeTop">
        <div class="col s12 center-align">
            {% if form.vars.value.id is not null %}
                <h5>Modifier une catégorie</h5>
            {% else %}
                <h5>Ajouter une catégorie</h5>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}